<!--<ion-header>-->
  <!--<ion-toolbar class="toolbar">-->

    <!--<ion-buttons slot="start">-->
      <!--<ion-menu-button color="primary"></ion-menu-button>-->
    <!--</ion-buttons>-->

    <!--<ion-title>-->
      <!--<div class="title">-->
        <!--<img src="../../assets/logo.svg" alt="Крути педали">-->
      <!--</div>-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<div class="header">
    <app-icon-button class="menu-icon" icon="menu" [menuToggle]="true"></app-icon-button>

    <img src="../../assets/logo.svg" alt="Крути педали">

    <app-icon-button class="phone-icon" icon="phone"></app-icon-button>
</div>
