:host {
  min-height: 50px;
  position: relative;
  z-index: 2;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  margin-right: 5px;
}

.phone-icon {
  margin-left: auto;
}
