@import '../variables';

:host {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.top-info {
  padding: 25px;
}

.title-hint {
  color: $color-gray-1;
}

.title {
  color: $color-black-1;
  font-size: 22px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.map {
  height: 230px;
}

.middle-info {
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
}

.middle-info-title {
  color: $color-gray-1;
  font-family: $main-font;

  &--price {
    margin-top: 40px;
  }
}

.cycles {
  color: $color-green-1;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: 25px;

  &:before {
    content: '';
    display: block;
    width: 32px;
    min-width: 32px;
    height: 20px;
    mask-image: url('../../assets/icons/icon--bicycle.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 32px 19px;
    margin-right: 12px;
    background-color: $color-green-1;
  }

  &--active {
    color: $color-black-1;

    &:before {
      background-color: $color-black-1;
    }
  }
}

.parking {
  color: $color-black-1;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: 13px;

  &:before {
    content: '';
    display: block;
    width: 32px;
    min-width: 32px;
    height: 20px;
    mask-image: url('../../assets/icons/icon--parking.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 19px 19px;
    margin-right: 12px;
    background-color: $color-black-1;
  }

  &--active {
    color: $color-green-1;

    &:before {
      background-color: $color-green-1;
    }
  }
}

.red {
  color: $color-red-1;
  margin-top: 25px;
  display: flex;
  align-items: center;
  text-decoration: underline;

  &:before {
    content: '';
    display: block;
    width: 17px;
    min-width: 17px;
    height: 17px;
    background-image: url('../../assets/icons/icon--atention.svg');
    margin-right: 12px;
  }
}

.price {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price-line {
  margin-top: 25px;
  color: $color-black-1;
  display: flex;
  align-items: center;
}

.left {
  width: 97px;
  min-width: 97px;
}

.dashed {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed $color-gray-1;
}

.right {
  width: 97px;
  min-width: 97px;
  text-align: right;
}

.footer {
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;

  &--with-amount {
    height: 114px;
    padding-top: 16px;
  }
}

.get-bicycle-button {
  --height: 40px!important;
}

.amount-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.amount-image {
  margin-right: 15px;
}

.amount-label {
  color: $color-black-1;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.amount-value {
  color: $color-black-1;
  font-size: 22px;
  margin-left: auto;
}
