@import '../variables';

:host {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
}

.info-container {
  height: 50px;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
}

.address {
  color: $color-black-1;
  font-size: 22px;
  height: 30px;
  display: flex;
  align-items: center;
}

.loader {
  display: none;
}

.loader.animated-background {
  display: block;
  height: 4px;
  border-radius: 2px;
  width: 200px;
}

.info-hint {
  color: $color-gray-1;
  font-size: 14px;
}

.right {
  margin-left: auto;
  text-align: center;
}

.free {
  display: inline-block;
  color: $color-green-1;
  font-size: 27px;
}

.free-hint {
  color: $color-green-1;
  font-size: 10px;
}

.actions {
  text-align: center;
  margin-top: 14px;
}

.get-bicycle-button {
  --height: 40px!important;
}

.rental-list {
  margin-top: 11px;
}