<div class="info-container">
    <div class="info">
        <div class="left">
            <div class="address">
                <div class="loader" [ngClass]="{'animated-background': !(rentalPoint$ | async)}"></div>

                {{(rentalPoint$ | async)?.address}}
            </div>
            <div class="info-hint">Ближайший прокат</div>
        </div>
        <div class="right" *ngIf="rentalPoint$|async as rentalPoint">
            <div class="free">{{rentalPoint.bicycles.length}}</div>
            <div class="free-hint">Свободно</div>
        </div>
    </div>
</div>

<div class="actions">
    <!--<app-button></app-button>-->
    <ion-button class="get-bicycle-button" expand="full">Взять велосипед</ion-button>

    <app-rental-points-list-link class="rental-list"></app-rental-points-list-link>
</div>
