@import "../variables";

:host {
  display: flex;
  background-color: #fff;
  align-items: center;
}

.image {
  display: block;
  margin-top: 95px;
  width: 286px;
}

.text {
  margin-top: 30px;
  color: $color-black-1;
  font-size: 22px;
  text-align: center;
}

.button-container {
  margin-top: 20px;
  width: 200px;
}

.button {
  --height: 40px;
}

.bottom {
  margin-top: auto;
  margin-bottom: 60px;
  text-align: center;
}

.hint {
  color: $color-gray-1;
  font-size: 10px;
}

.link {
  color: $color-green-1;
  font-size: 14px;
  text-decoration: none;
}
