<ion-content>
  <div class="content">
    <div class="back-link-container">
      <a class="back-link" (click)="back()">Назад</a>
    </div>

    <div class="text">Приложите телефон<br> к сканеру</div>

    <img class="image" src="../../assets/phone.svg" alt="Телефон">

    <div class="red-text">С вашей карты спишется 4500<br> рублей в качестве залога</div>

    <div class="info">Информация о залоге</div>

    <div class="second-text">Мы вернем их по окончанию поездки</div>

    <div class="bottom">
      <div class="hint">Телефон горячей линии</div>
      <a class="link" href="tel:88005775667">8 800 577 56 67</a>
    </div>
  </div>
</ion-content>

