<ion-content>
  <div class="content">
    <div class="back-link-container">
      <a class="back-link" (click)="back()">Назад</a>
    </div>

    <div class="text">Сначала поставьте<br> велосипед на стойку</div>

    <div class="line"></div>

    <div class="text">Затем приложите<br> телефон к сканеру</div>

    <img class="image" src="../../assets/phone.svg" alt="Телефон">

    <div class="second-text">Мы вернем залог в течении<br> 10 минут</div>

    <div class="info">Информация о залоге</div>

    <div class="bottom">
      <div class="hint">Телефон горячей линии</div>
      <a class="link" href="tel:88005775667">8 800 577 56 67</a>
    </div>
  </div>
</ion-content>

