<ion-content>
    <img class="cyclist" src="../../assets/cyclist.png" alt="Велосипедист">

    <div class="content">
        <img class="logo" src="../../assets/logo--big.svg" alt="Крути педали">

        <ion-item class="input">
            <ion-label position="floating">Введите номер телефона</ion-label>
            <ion-input type="tel" [formControl]="phone"></ion-input>
        </ion-item>

        <ion-button class="button" expand="full" (click)="submit()" [disabled]="!phone.valid">Далее</ion-button>

        <div class="rules">
            Нажимая кнопку “Далее“, я принимаю<br> условия <a class="rules-link">Пользовательского соглашения</a>.
        </div>

        <div id="recaptcha-verifier"></div>
    </div>
</ion-content>
