@import '../variables';

:host {
  display: inline-block;
}

.link {
  align-items: center;
  color: $color-green-1;
  display: inline-flex;
  font-size: 12px;

  &::before {
    background-color: $color-green-1;
    content: '';
    display: block;
    height: 7px;
    margin-right: 7px;
    mask-image: url('../../assets/icons/icon--menu.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 10px 7px;
    width: 10px;
  }
}
