@import '../variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.top {
  align-items: center;
  display: flex;
  height: 120px;
  padding-left: 40px;
}

.phone {
  align-items: center;
  color: $color-black-1;
  display: flex;
  font-size: 18px;

  &::after {
    background-image: url('../../assets/icons/icon--gear.svg');
    content: '';
    display: block;
    height: 23px;
    margin-left: 40px;
    width: 23px;
  }
}

.menu {
  margin-bottom: 20px;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list-link {
  align-items: center;
  background-color: #fff;
  color: $color-black-1;
  display: flex;
  font-family: $main-font;
  height: 58px;
  padding-left: 40px;
  text-decoration: none;
  width: 100%;

  &--active {
    background-color: $color-green-1;
    color: #fff;
    height: 67px;
  }
}

.card {
  border-top: 1px solid $color-green-1;
  color: $color-black-1;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: auto;
  padding-bottom: 50px;
  padding-top: 25px;
}

.card-value {
  color: $color-gray-1;
  margin-left: 15px;
}
