@import '../variables';

:host {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.cyclist {
  display: block;
  margin: auto;
  margin-top: 23px;
  width: 342px;
}

.logo {
  display: block;
  margin: auto;
}

.content {
  margin: auto;
  margin-top: 44px;
  width: 235px;
}

.input {
  margin-top: 20px;
}

.button {
  margin-top: 30px;
}

.rules {
  color: $color-gray-1;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
}
