@import "../variables";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-green-1;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.value {
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}

.hint {
  color: #c0f8d7;
  font-size: 12px;
  white-space: nowrap;
}

.time,
.mileage,
.amount {
  padding-left: 18px;
  padding-right: 18px;
}

.time {
  padding-left: 20px;
}

.time,
.mileage {
  border-right: 2px solid #6fcf97;
}

.more {
  border-style: none;
  background-color: transparent;
  background-image: url('../../assets/button--next.svg');
  width: 32px;
  min-width: 32px;
  height: 32px;
}