:host {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.map {
  height: 100%;
  width: 100%;
}

.nearest-rental-point {
  bottom: 15px;
  height: 178px;
  left: 15px;
  position: fixed;
  right: 15px;
}

.on-way {
  left: 15px;
  position: fixed;
  right: 15px;
  top: 70px;
}
