@import '../variables';

.button {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  height: 50px;
  min-width: 50px;
  outline: none;
  position: relative;
  width: 50px;

  &::before {
    background-color: $color-green-1;
    content: '';
    height: 50px;
    left: 0;
    mask-position: center;
    mask-repeat: no-repeat;
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease-out;
    width: 50px;
  }

  &--menu::before {
    mask-image: url('../../assets/icons/icon--menu.svg');
    mask-size: 18px 14px;
  }

  &--phone::before {
    mask-image: url('../../assets/icons/icon--phone.svg');
    mask-size: 20px 20px;
  }
}
