@import '../variables';

:host {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.back-link {
  color: $color-green-1;
  display: flex;
  align-items: center;
  margin-top: 25px;

  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 8px;
    background-image: url('../../assets/arrow--left.svg');
    margin-right: 8px;
  }
}

.title {
  color: $color-black-1;
  font-size: 22px;
  margin-top: 20px;
}

.info {
  margin-top: 30px;
}

.amount-row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.amount-image {
  margin-right: 15px;
}

.amount-label {
  color: $color-black-1;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.amount-value {
  color: $color-black-1;
  font-size: 22px;
  margin-left: auto;
}

.button {
  --height: 40px;
  margin-top: 25px;
}

.link {
  color: $color-green-1;
  font-size: 12px;
  display: block;
  margin-top: 15px;
  text-align: center;
}